<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The home page! <%= "Hello!".toUpperCase()%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aperiam in
      fugit velit inventore, temporibus voluptatibus tempore accusamus! Quod
      facilis reiciendis iure aliquid earum nesciunt expedita atque quia nihil
      maxime? Ut soluta itaque illo veniam fugit reiciendis placeat, assumenda
      quis molestiae officia. Corrupti veniam architecto facilis et quam dolore
      illo, facere molestias reprehenderit aliquam nemo quos quasi nisi odio
      sequi. Omnis, non impedit! Cupiditate esse ullam doloribus, veniam, error
      perspiciatis, delectus reprehenderit iusto quibusdam corrupti odit
      eligendi! Natus rem similique voluptas ratione unde porro quasi nobis
      tenetur quidem, dolore molestias? Quas ipsa nisi assumenda veniam, sint
      magnam obcaecati quia ea et eum itaque impedit delectus enim modi eos vel!
      Totam, eius sequi eveniet quisquam omnis unde quam a provident aut.
      Perferendis odio iure, eligendi vero error inventore minima dolores eos
      unde? Error ducimus excepturi ab nostrum deleniti, voluptatum quisquam sed
      accusantium, possimus minima deserunt quae saepe aliquid! Quam, et
      quibusdam.
    </p>
  </body>
</html>
