h1 {
  background-color: cyan;
  border: 5px solid magenta;
  color: beige;
  padding: 0.7em;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px auto;
  font-family: "Courier New";
  font-weight: lighter;
}

h1:nth-of-type(2n) {
  background-color: yellow;
}

h1:nth-of-type(3n) {
  background-color: orange;
}
h1:nth-of-type(4n) {
  background-color: red;
}

section:first-of-type h1:nth-of-type(1) {
  /* transform-origin: top right; */
  transform: rotate(45deg);
}
section:first-of-type h1:nth-of-type(2) {
  /* transform-origin: top right; */
  transform: scale(0.5);
}
section:first-of-type h1:nth-of-type(3) {
  /* transform-origin: top right; */
  transform: translateX(200px);
}
section:first-of-type h1:nth-of-type(4) {
  /* transform-origin: top right; */
  transform: translate(-200px, 100px);
}
section:nth-of-type(2) h1:nth-of-type(1) {
  /* transform-origin: top right; */
  transform: skew(10deg, 5deg);
}
section:nth-of-type(2) h1:nth-of-type(3) {
  /* transform-origin: top right; */
  transform: rotate(-20deg) scale(1.2);
}
section:nth-of-type(2) h1:nth-of-type(4) {
  /* transform-origin: top right; */
  transform: translateX(-300px) rotate(180deg);
}
